navbar:
  visiable: auto # always, auto
  logo: # choose [img] or [icon + title]
    img:
    icon:
    title: Kagura's Blog
  menu:
    - name: 归档
      icon: fa-solid fa-archive
      url: archives/
    - name: 友链
      icon: fa-solid fa-link
      url: friends/
    - name: 服务
      icon: fa-solid fa-server
      rows:
        - name: QSL 发卡记录
          url: qsl/
        - name: Kagura Git
          url: https://git.kagurach.uk/
        - name: Pixiv 公共代理
          url: https://pixiv.lolicon.cyou/img-original/img/2024/07/27/00/00/07/120910319_p0.png
    # - name: 暗黑模式
    #   icon: fas fa-moon
    #   toggle: darkmode
    - name: 关于
      icon: fa-solid fa-info-circle
      url: about/
  search: Search...

cover:
  height_scheme: half # full, half
  scheme: search # search (搜索), dock (坞), featured (精选), focus (焦点)
  display:
    home: false
    archive: false
    others: false # can be written in front-matter 'cover: true'

color_scheme:
  # ------------
  # 通用颜色
  common:
    # 主题色
    theme: "#b2ebf2"
    # 链接色
    link: "#29b6f6"
    # 按钮色
    button: "#4dd0e1"
    # 鼠标放到交互元素上时的色
    hover: "#0277bd"
    # 主题色块内部的文字颜色
    inner: "#fff"
    # 选中区域文字的背景颜色
    selection: "alpha(#e1f5fe, 0.4)"
  # ------------
  # 亮色主题（默认）
  light:
    # 网站背景色
    site_bg: "#e1f5fe"
    # 网站背景上的文字
    site_inner: "#fff"
    # 网站页脚文字
    site_footer: "#666"

    # 卡片背景色
    card: "alpha(#fafafa, 0.7)"
    # 卡片上的普通文字
    text: "#444"

    # 区块和代码块背景色
    block: "#faf8f4"
    # 代码块高亮时的背景色
    codeblock: "alpha(#fff8e1,0.4)"
    # 行内代码颜色
    inlinecode: "#D56D28"

    # 文章部分
    h1: "#444"
    h2: "#444"
    h3: "#444"
    h4: "#444"
    h5: "#444"
    h6: "#444"
    p: "#444"

    # 列表文字
    list: "#666"
    # 列表 hover 时的文字
    list_hl: "mix($color-theme, #000, 80)"
    # 辅助性文字
    meta: "#888"
  # ------------
  # 暗色主题
  dark:
    # 网站背景色
    site_bg: "#222"
    # 网站背景上的文字
    site_inner: "#eee"
    # 网站页脚文字
    site_footer: "#aaa"
    # 卡片背景色
    card: "#444"
    # 卡片上的普通文字
    text: "#eee"

    # 区块和代码块背景色
    block: "#3a3a3a"
    # 代码块高亮时的背景色
    codeblock: "#343a3c"
    # 行内代码颜色
    inlinecode: "#D56D28"

    # 文章部分
    h1: "#eee"
    h2: "#eee"
    h3: "#ddd"
    h4: "#ddd"
    h5: "#ddd"
    h6: "#ddd"
    p: "#bbb"

    # 列表文字
    list: "#aaa"
    # 列表 hover 时的文字
    list_hl: "mix($color-theme, #fff, 80)"
    # 辅助性文字
    meta: "#888"
    # 夜间图片亮度
    brightness: 70%

# 文章布局
article:
  # 文章列表页面的文章卡片布局方案
  preview:
    scheme: landscape # landscape
    # pin icon for post
    pin_icon: https://gcore.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f4cc.svg
    # auto generate title if not exist
    auto_title: true # false, true
    # auto generate excerpt if not exist
    auto_excerpt: true # false, true
    # show split line or not
    line_style: solid # hidden, solid, dashed, dotted
    # show readmore button
    readmore: auto # auto, always
  # 文章详情页面的文章卡片本体布局方案
  body:
    # 文章顶部信息
    # 从 meta_library 中取
    top_meta: [author, category, date, counter]
    # ----------------
    # 文章页脚组件
    footer_widget:
      # ----------------
      # 参考资料、相关资料等 (for layout: post/docs)
      references:
        title: 参考资料
        icon: fas fa-quote-left
        # 在 front-matter 中:
        #   references:
        #     - title: 某篇文章
        #       url: https://
        # 即可显示此组件。
      # ----------------
      # 相关文章，需要安装插件 (for layout: post)
      # npm i hexo-related-popular-posts
      related_posts:
        enable: false
        title: 相关文章
        icon: fas fa-bookmark
        max_count: 5
        # 设为空则不使用文章头图
        placeholder_img: https://gcore.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/046.jpg
      # ----------------
      # 版权声明组件 (for layout: post/docs)
      copyright:
        enable: true
        permalink: "本文永久链接是："
        content:
          - "博客内容遵循 署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0) 协议"
          - permalink
      # ----------------
      # 打赏组件 (for layout: post/docs)
      donate:
        enable: false
        images:
          - https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/blog/qrcode/github@volantis.png
          - https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/blog/qrcode/github@volantis.png
    # 文章底部信息
    # 从 meta_library 中取
    bottom_meta: [updated, tags, share]
    # meta library
    meta_library:
      # 默认文章作者（可在 front-matter 中覆盖）
      author:
        avatar: https://kagurach.uk/static/avatar.jpg
        name: Kagura
        url: /
      # 文章创建日期
      date:
        icon: fas fa-calendar-alt
        title: "发布于："
        format: "ll" # 日期格式 http://momentjs.com/docs/
      # 文章更新日期
      updated:
        icon: fas fa-edit
        title: "更新于："
        format: "ll" # 日期格式 http://momentjs.com/docs/
      # 文章分类
      category:
        icon: fas fa-folder-open
      # 文章浏览计数
      counter:
        icon: fas fa-eye
        unit: "次浏览"
      # 文章字数和阅读时长
      wordcount:
        icon_wordcount: fas fa-keyboard
        icon_duration: fas fa-hourglass-half
      # 文章标签
      tags:
        icon: fas fa-hashtag
      # 分享
      share:
        - id: qrcode # 当id为qrcode时需要安装插件  npm i hexo-helper-qrcode
          img: https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/logo/128/qrcode.png
        - id: telegram
          img: https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/logo/128/telegram.png

sidebar:
  # 主页、分类、归档等独立页面
  for_page: [blogger, category, tagcloud]
  # layout: docs/post 这类文章页面
  for_post: [toc]
  # 侧边栏组件库
  widget_library:
    # ---------------------------------------
    # blogger info widget
    blogger:
      class: blogger
      display: [desktop, mobile] # [desktop, mobile]
      avatar: https://kagurach.uk/static/avatar.jpg
      shape: circle # circle, rectangle
      url: /about/
      title: Kagura
      subtitle: 我其实啥都不会呜呜
      jinrishici: false # Poetry Today. You can set a string, and it will be displayed when loading fails.
      social: true
    # ---------------------------------------
    # toc widget (valid only in articles)
    toc:
      class: toc
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-list
        title: 本文目录
      list_number: false
      min_depth: 2
      max_depth: 5
    # ---------------------------------------
    # category widget
    category:
      class: category
      display: [desktop] # [desktop, mobile]
      header:
        icon: fas fa-folder-open
        title: 文章分类
        url: /
    # ---------------------------------------
    # tagcloud widget
    tagcloud:
      class: tagcloud
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-tags
        title: 热门标签
        url: /
      min_font: 14
      max_font: 24
      color: true
      start_color: "#999"
      end_color: "#555"

    # ---------------------------------------
    # qrcode widget
    # donate:
    #   class: qrcode
    #   display: [desktop, mobile] # [desktop, mobile]
    #   height: 64px  # Automatic height if not set
    #   images:
    #     - https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/blog/qrcode/github@volantis.png
    #     - https://gcore.jsdelivr.net/gh/volantis-x/cdn-org/blog/qrcode/github@volantis.png
    # ---------------------------------------
    # webinfo widget
    webinfo:
      class: webinfo
      display: [desktop]
      header:
        icon: fa-solid fa-award
        title: 站点信息
      type:
        article:
          enable: true
          text: "文章数目："
          unit: "篇"
        runtime:
          enable: true
          data: "2024/08/09" # 填写建站日期
          text: "距离上次复活已运行时间："
          unit: "天"
        wordcount:
          enable: true
          text: "本站总字数：" # 需要启用 wordcount
          unit: "字"
        lastupd:
          enable: true
          friendlyShow: true # 更友好的时间显示
          text: "最后活动时间："
          unit: "日"

custom_css:
  navbar:
    height: 64px
    width: auto # auto, max
    effect: [shadow, floatable, blur] # [shadow, floatable, blur]

  scrollbar:
    size: 4px
    border: 2px
    color: "#5BCEFA"
    hover: "#F5A9B8"

  fontfamily:
    bodyfont:
      fontfamily: "Arial, sans-serif"
    codefont:
      fontfamily: "JetBrains Mono,hack,monospace"
      name: 'JetBrains Mono'
      url: "https://kagurach.uk/static/fonts/JetBrainsMono-Regular.woff2"
      weight: normal
      style: normal


site_footer:
  # layout of footer: [aplayer, social, license, info, copyright]
  layout: [social, license, info, copyright]
  social:
    - icon: fas fa-envelope
      url: mailto:me@kagurach.uk
    - icon: fab fa-github
      url: https://github.com/kagura114
    - icon: fab fa-github
      url: https://github.com/icewithcola
    - icon: fab fa-telegram
      url: http://kagurachu.t.me
  copyright: "[Copyright © Kagura](/)"
  # You can add your own property here. (Support markdown, for example: br: '<br>')
  br: "<br>"

search:
  enable: true
  service: hexo # hexo

darkmode:
    enable: true

comments:
  title:
  subtitle:
  service:
